<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>

<!-- Navbar (sit on top) -->
<!-- 상단 목록창 header -->
<div class="menu-bar">
    <div class="menu-bar__column">
        <a href="#" class="menu-bar-column__link-title">Smart Streetlamp</a>
    </div>
    <div class="menu-bar__column">
        <a href="http://0.0.0.0:5000/" class="menu-bar-column__link"><i class="fa fa-home fa-1x"></i> HOME</a>
        <a href="http://0.0.0.0:5000/cctv.html" class="menu-bar-column__link"><i class="fa fa-camera fa-1x"></i>CCTV</a>
    </div>
</div>

<div class="main-image-top">
</div>


<div class = "cctv">
	<iframe src="http://192.168.137.195:8080/stream_simple.html" width="700" height="700"></iframe>
</div>
 
</body>
</html>
