<!DOCTYPE html>
<html>
<title>사고인식 스마트 가로등</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
</head>

<!--<body background="{{ url_for('static', filename='image/7.jpg') }}"> -->

<body background="{{ url_for('static', filename='image/7.jpg') }}" >
  <script language="javascript" type="text/javascript">

    function sound_sense() {
      alert("사고 소리 감지!!");
      location.href="http://0.0.0.0:5000/cctv.html";
    }
    function shock_sense() {
      alert("가로등 충격 감지!!");
      location.href="http://0.0.0.0:5000";
    }

    function loadlink() {
      $('#receive').load('http://0.0.0.0:5000/', function () {
        $(this).unwrap();
      });
    }

    loadlink(); // This will run on page load

    setInterval(function () {
      loadlink() // this will run after every 3 seconds
    }, 5000);


  </script>
  <!-- 목록창 만들기 -->
  <div class="w3-top">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
        onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="http://0.0.0.0:5000/" class="w3-bar-item w3-button">HOME</a>
      <a href="cctv.html" class="w3-bar-item w3-button w3-hide-small"><img
          src="{{ url_for('static', filename='image/cctv_g.png') }}" style="width: 15px;" /><img
          src="{{ url_for('static', filename='image/cctv.png') }}" style="width: 15px;" />
        &nbsp; CCTV</a>
      <i class="fa fa-search"></i>
      </a>
    </div>

  </div>
  <br>
  <br>
  <br>
  <div id="receive">
    <div class="sensor" style="margin-top: 30px;">
      <div class="sensor__shock" style="margin:50px 20px">
        <div class="sensor-column">
          {% if shock == '1' %}
          <h1>충격 감지<button onclick ="shock_sense();" value="이동">CCTV 확인</button></h1>
          {% else %}
          <h1>충격 미감지</h1>
          {% endif %}
        </div>
      </div>
      <div class="sensor__shock" style="margin:50px 20px">
        <div class="sensor-column" style="">
          <h1>먼지수치 :
            {% if dust|int < 30 %}
            좋음 -- {{dust}}</h1>
          {% elif ((dust|int > 30) and (dust|int < 80)) %}
          보통 -- {{dust}}</h1>
          {% elif ((dust|int > 80) and (dust|int < 150)) %}
          나쁨 -- {{dust}}</h1>
          {% else %}
          아주 나쁨 - {{dust}}</h1>
          {% endif %}
        </div>
      </div>
      <div class="sensor__sound" style="margin:50px 20px">
        <div class="sensor-column">
          
          {% if sound == '1' %}
          <h1>사고 사운드 감지 : 사고감지<button onclick ="sound_sense();" value="이동">CCTV 확인</button></h1>
          {% if sound == '1' %}
          <h1>사고 사운드 감지 : 사고미감지</h1>
            {% endif %}
        </div>
      </div>
      <div class="sersno__light" style="margin:50px 20px">
        <div class="sensor-column">
          <h1>광량 : {{light}}</h1>
        </div>
      </div>
    </div>
  </div>
</body>

</html>