<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

<!-- 목록창 만들기 -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="main.html" class="w3-bar-item w3-button">HOME</a>
    <a href="cctv.html" class="w3-bar-item w3-button w3-hide-small"><img src="{{ url_for('static', filename='image/cctv_g.png') }}" style="width: 15px;" /><img src="{{ url_for('static', filename='image/cctv.png') }}"style="width: 15px;" /> &nbsp; CCTV</a>
    <a href="shock.html" class="w3-bar-item w3-button w3-hide-small"><img src="{{ url_for('static', filename='image/lamp_g.png') }}" style="width: 18px;"><img src="{{ url_for('static', filename='image/lamp.png') }}" style="width: 18px;"> &nbsp; 가로등 고장예측</a>
    <a href="dust.html" class="w3-bar-item w3-button w3-hide-small"><img src="{{ url_for('static', filename='image/mask_g.png') }}" style="width: 17px;"><img src="{{ url_for('static', filename='image/mask.png') }}" style="width: 17px;"> &nbsp; 미세먼지 수치</a>
    <a href="light.html" class="w3-bar-item w3-button w3-hide-small"><img src="{{ url_for('static', filename='image/mask_g.png') }}" style="width: 17px;"><img src="{{ url_for('static', filename='image/mask.png') }}" style="width: 17px;"> &nbsp; 전류량 측정</a>
      <i class="fa fa-search"></i>
    </a>
  </div>

<br>
<br>
<br>


<!-- ADMIN LOGIN -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">RIA</h1>
    <h5 class="w3-hide-large" style="white-space:nowrap"></h5>
    <h3 class="w3-hide-medium w3-hide-small">GWANGJU UNIVERSITY</h3>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<font color="white">
<h3>사고알림 스마트 가로등</h3>
</font>


</div>
</body>
</html>
